.edit-profile {
    width: 100px;
    height: 100px;
    margin: 0 0 10px 315px;
}

.img-product {
    width: 400px;
    height: 200px;
}

.list-product {
    margin-left: 0px;
    padding: 5px;
}

.statistic {
    margin-right: 20px;
    color: green;
}

.img-product-detail {
    width: 400px;
    height: 300px;
    margin-top: 20px;
}

.product-detail {
    margin-top: 10px;
}

.list-comment {
    padding: 10px;
}

.rate {
    margin-left: 10px;
}

.filter {
    background: #184D5E;
    color: white;
    border: 2px black solid;
    margin-bottom: 15px;
}

.img-comment {
    width: 50px;
    height: 50px;
}

.comment-content {
    margin-top: 25px;
}

#list-rating {
    background: #43185E;
    color: white;
    border: 3px black solid;
}
